<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Password Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> 
            &nbsp;
             <li class="nav-item active dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category</a>
                    <ul class="dropdown-menu">
                            <li><a href="/add-new-category"class="dropdown-item">Add New Category</a></li>
                            <li><a href="/passwordCategory" class="dropdown-item">View All Category</a></li>
                          </ul>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item active dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details</a>
                    <ul class="dropdown-menu">
                            <li><a href="/add-new-password" class="dropdown-item">Add New Password</a></li>
                            <li><a href="/view-all-password" class="dropdown-item">View All Password</a></li>
                          </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-rigth">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/signup">SignUp</a>
                  </li>
              </ul>
        </div>
      </nav>
  <h2 class="text-center">Password Category List</h2>
  <div class="container">
      <div class="row">
            <table class="table table-striped table-primary">
                <thead>
                    <tr>
                        <th>Password Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td>Cloude9</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/delete/">edit</a>
                            <a class="btn btn-danger btn-xs" href="/edit/">delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
      </div>
  </div>
  </body>
</html>
